################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/**/bin
/**/obj
/packages/System.Numerics.Vectors.4.5.0
/packages
/CpuOps/Release
/CpuOps/Debug
/CpuOps/x64/Release
/CpuOps/x64/Debug
